<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Style2.min.css" />
    <title>Document</title>
</head>
<% function calculate_age(dob) { 
    var diff_ms=Date.now() - dob.getTime(); 
    var age_dt=new Date(diff_ms); return
    Math.abs(age_dt.getUTCFullYear() - 1970); 
} 
    const dateFormat=(dateString)=>{
    var date = new Date(dateString);
    const month = date.getMonth()<10 ? 0+(date.getMonth()+1).toString(): date.getMonth()+1 ;
     const day=date.getDate()<10 ? 0+ date.getDate().toString(): date.getDate() ; 
     date=date.getFullYear()+"-"+month+"-"+day; return date; }
      const check_selected=(option_value, correct_value)=>{
        if(option_value == correct_value){%>selected<%}}%>

            <body>
                <div class="sideNav">
                    <button id="sb_toggle"><i class="fa-solid fa-arrow-left"></i></button>

                    <div class="logo">
                        <h1>Santévie</h1>
                    </div>
                    <div class="nav-links">
                        <div class="link">
                            <a href="/dashboard"><i class="fa-solid fa-chart-pie fa-fw fa-2xl"></i><span>
                                    Dashboard</span></a>
                        </div>
                        <div class="link">
                            <a href="/patients" class="activelink"><i class="fa-solid fa-users fa-fw fa-2xl"></i>
                                <span>Patients</span></a>
                        </div>
                        <div class="link">
                            <a href="/appointments"><i
                                    class="fa-regular fa-calendar-days fa-fw fa-2xl"></i><span>Rendez_vous</span></a>
                        </div>
                    </div>
                </div>
                <div class="view-frame">
                    <div class="patients-list">
                    <button id="addP"><i class="fa-solid fa-arrow-left"></i></button>

                        <div class="header">
                            <h1>Patients</h1>
                            <a href="/patients/create" id="addP"><i class="fa-solid fa-plus"></i></a>

                        </div>
                        <form action="/patients/search" method="get" class="search-input">
                            <input type="text" name="request" />
                            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                        </form>

                        <% patients.forEach((patient)=>{%>
                            <a href="/patients/<%= patient.code%>">
                                <div class="patient">
                                    <div class="pic"></div>
                                    <div class="info">
                                        <h3>
                                            <%= patient.l_name +" "+ patient.f_name%></h3>
                    <h4><%= calculate_age(new Date(patient.birthdate))%> ans</h4>
                </div>
            </div></a>
           <% });%>
           
        </div>
        <div class=" patient-profile">
            <div class="settings">
                                                  
                                                    <a href="/patients">annuler</a>
                                                   
                                                </div>
                                                <div class="details">
                                                    <h1 class="header">Personal Information</h1>
<form action="/patients" method="post">
                                                    <div class="grid-container">
                                                        <div class="grid-item">
                                                            <label for="l_name">Nom:</label>
                                                            <input type="text"  name="l_name" id="l_name" required >
                                                        </div>
                                                        <div class="grid-item">
                                                            <label for="f_name">Prenom:</label>
                                                            <input type="text"  name="f_name" id="f_name" required >
                                                        </div>
                                                        <div class="grid-item">
                                                            <label for="birthdate">Date de naissance:</label>
                                                            <input type="date" 
                                                                 required  id="birthdate" name="birthdate">
                                                        </div>
                                                        <div class="grid-item">
                                                            <label for="sex">Sexe:</label>
                                                            <select name="sex" id="sex" required >
                                                                <option value="male">Homme
                                                                </option>
                                                                <option value="female">Femme
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="grid-item">
                                                            <label for="address">Adresse:</label>
                                                            <textarea name="address" id="address" cols="30"
                                                                rows="2" required ></textarea>
                                                        </div>
                                                        <div class="grid-item">
                                                            <label for="blood_type">Groupe sanguin:</label>
                                                            <select name="blood_type" id="blood_type" required >
                                                                <option value="o-">O-
                                                                </option>
                                                                <option value="o+">O+
                                                                </option>
                                                                <option value="a-" >A-
                                                                </option>
                                                                <option value="a+" >A+
                                                                </option>
                                                                <option value="b-">B-
                                                                </option>
                                                                <option value="b+" >B+
                                                                </option>
                                                                <option value="ab-" >AB-
                                                                </option>
                                                                <option value="ab+"  >AB+
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="grid-item">
                                                            <label for="phone">Telephone:</label>
                                                            <input type="tel"  name="phone" id="phone" required >
                                                        </div>
                                                        <div class="grid-item">
                                                            <label for="email">Email:</label>
                                                            <input type="email"  name="email" id="email" required >
                                                        </div>

                                                    </div>
                                                    <input type="submit" value="Enregistrer" id="submit-add" >
</form> 

                                                </div>
                                    </div>
                                </div>

                                <script src="https://kit.fontawesome.com/c501080d7e.js"
                                    crossorigin="anonymous"></script>
                                <script>
                                    const toggle_button = document.getElementById("sb_toggle");
                                    toggle_button.addEventListener("click", () => {
                                        toggle_button.children[0].classList.contains("fa-arrow-right")
                                            ? toggle_button.children[0].classList.add("fa-arrow-left")
                                            : toggle_button.children[0].classList.add("fa-arrow-right");

                                        const links = document.querySelectorAll(".link a span");
                                        const navbar = document.querySelector(".sideNav");
                                        links.forEach((link) => {
                                            link.classList.toggle("shortlink");
                                        });
                                        navbar.classList.toggle("shortnav");
                                    });
                                

                                </script>
            </body>

</html>