<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/appointments" method="post">
      <label for=""></label>
      <select name="code_patient">
        <% patients.forEach((patient)=>{%>
        <option value="<%=patient.code%>">
          <%=patient.l_name+" "+patient.f_name%>
        </option>
        <% });%>
      </select>
      <br />
      <label for="">date</label>
      <input type="date" name="due" id="due" /><br />
      <label for="">time</label>
      <select name="start_at" id="startTime" disabled>
        <option value="09:00">9:00</option>
        <option value="09:30">9:30</option>
        <option value="10:00">10:00</option>
        <option value="10:30">10:30</option>
        <option value="11:00">11:00</option>
        <option value="11:30">11:30</option>
        <option value="12:00">12:00</option>
        <option value="13:30">13:30</option>
        <option value="14:00">14:00</option>
        <option value="14:30">14:30</option>
        <option value="15:00">15:00</option>
        <option value="15:30">15:30</option>
        <option value="16:00">16:00</option>
      </select>
      <br />

      <label for="">details</label>
      <textarea name="details" id="" cols="30" rows="10"></textarea>
      <input type="submit" />
    </form>

    <script>
      const date = document.getElementById("due");
      const time = document.getElementById("startTime");
      date.addEventListener("input", () => {
        time.disabled = false;
        let response = fetch("/appointments/free/" + date.value)
          .then((response) => response.json())
          .then((data) => {
            const _data = [];
            data[0].forEach((element) => {
              _data.push(element.start_at);
            });
            console.log(_data);
            for (let index = 0; index < time.children.length; index++) {
              if (_data.includes(time.children[index].value + ":00")) {
                console.log(time.children[index].value);

                time.children[index].disabled = true;
              }
            }

          });
      });
    </script>
  </body>
</html>
